* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #AAAAAA;
}

.top-bar {
	margin: 0;
	padding: 0;
	float: left;
}

.input {
	margin: 0;
	padding: 0;
	float: left;
}
.clear {
	clear: both;
}
