* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue";
  font-weight: 100;
}

body {
  background-color: #AAAAAA;
}

.container {
  width: 350px;
  height: 600px;
  border: solid black 1px;
  background-color: black;
}

div img {
  width: 100%;
}

.top-bar {
	margin: 0;
	padding: 0;
  width: 100%;
	float: left;
}

input {
  width: 100%;
  font-size: 4em;
  height: 2em;
  border: none;
  outline: none;
  color: white;
  background-color: black;
  text-align: right; 
}

.button-group {
  width: 100%;
  height: 12.75em;
  font-size: 35px;

}

.buttons {
  width: 25%;
  height: 20%;
  text-align: center;
  padding-top: 18px;
  border: solid 1px #8B7D6B;
  background-color: #DBCEB6;
  float: left;
}
.clear {
	clear: both;
}
