* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #AAAAAA;
}

.container {
  width: 400px;
  height: 500px;
  border: solid black 1px;
  background-color: black;
}

div img {
  width: 100%;
}

.top-bar {
	margin: 0;
	padding: 0;
  width: 100%;
	float: left;
}

input {
  width: 100%;
  font-size: 4em;
  height: 2em;
  font-family: "Helvetica Neue";
  font-weight: 100;
  border: none;
  outline: none;
  color: white;
  background-color: black;
  text-align: right; 
}

.clear {
	clear: both;
}
